<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jackfruit.mall.umeng_lib">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="com.jackfruit.mall.umeng_lib.CheckActivity"/>
        <!-- 易信回调activity -->
        <activity
            android:name=".yxapi.YXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:theme="@style/Theme.UMDefault"
            android:excludeFromRecents="true"
            />
        <!-- wechat callback-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--dingding-->
        <activity
            android:name=".ddshare.DDShareActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- alipay callback-->
        <activity
            android:name=".apshare.ShareEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- vk -->
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent"/>
        <!--line-->
        <!--登录回调-->
        <activity android:name="jp.line.android.sdk.activity.LineAuthCompleteActivity"
            android:configChanges="keyboard|orientation"
            android:exported="true"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="line.1471474450" />
            </intent-filter>
        </activity>
        <activity android:name="com.kakao.auth.authorization.authcode.KakaoWebViewActivity"/>
        <!--没安装客户端下登录-->
        <activity android:name="jp.line.android.sdk.activity.WebLoginActivity"
            android:exported="false"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="sensor">
        </activity>
        <!-- tencent -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!--<activity-->
        <!--android:name="com.tencent.tauth.AuthActivity"-->
        <!--android:launchMode="singleTask"-->
        <!--android:noHistory="true" >-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.VIEW" />-->

        <!--<category android:name="android.intent.category.DEFAULT" />-->
        <!--<category android:name="android.intent.category.BROWSABLE" />-->

        <!--<data android:scheme="tencent100424468" />-->
        <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
        <!--android:name="com.tencent.connect.common.AssistActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
        <!--android:configChanges="orientation|keyboardHidden|screenSize"/>-->
        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />
        <uses-library android:name="android.test.runner" />
        <!-- facebook -->
        <activity
            android:name="com.umeng.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!--1104087112943046-->
        <provider
            android:name="com.umeng.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1266254913438719"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            />
        <!--LINE 连我-->
        <meta-data
            android:name="jp.line.sdk.ChannelId"
            android:value="1471474450" />
        <meta-data
            android:name="jp.line.sdk.AuthScheme"
            android:value="line.1471474450" />
        <!-- twitter -->
        <activity
            android:name="com.umeng.socialize.handler.TwitterWebActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />
        <!-- *************************     related to Share END **************************** -->
        <!-- umengAppKey，replace to yours -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5126ff896c738f2bfa000438" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" >
        </meta-data>
        <!--<service android:name="com.sina.weibo.sdk.net.DownloadService"-->
        <!--android:exported="false"></service>-->
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboard">
            <intent-filter>
                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-oz8v5apet3arcdy" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
